body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    font: italic 20px Arial;
    text-align: center;
}
section {
    background-color: white;
    width: 500px;
    height: 150px;
    margin: auto;

}
div {
    margin: 10px;

}
footer {
    font-style: italic;
    text-align: center;
}